# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment variables
# =========================
.env
.env.*
*.key
*.pem

# =========================
# Testing & Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
postgres_data/
docker/postgres_data/

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build / temp
# =========================
dist/
build/
*.egg-info/
